.facility-list {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: center; /* Distribute cards evenly */
    align-items: center;
    width: 100%;

    margin: 10px;
    padding: 10px;
  }

  .facility-card-link{
    /* width: 85vw; */

    text-decoration: none;
  }

  .facility-card-link.facility-card{
    display: flex;
    justify-content: space-between;

    padding: 1rem;
    margin-bottom: 1rem;
    /* Adjust width for 4 columns with some spacing */
    /* width: calc(25% - 1.5rem);  */
    cursor: pointer; 
  }
  
  .facility-card {
    display: flex;
    justify-content: space-between;
    

    width: 85vw;
    padding: 1rem;
    border-radius: 0.8rem;
    margin-bottom: 1rem;
    
  }

.heading-card{
  background-color: #053e77;
  color: white;
  font-size: 20px;
  font-weight: bold;

  /* margin-left: 28px; */
}

.facility-list-bg{
  background-color: #b8d6f3;
  color: black;
  font-size: 18px;

}

.facility-list-bg:hover{
  background-color: #fff;

}
  
 .field{
  padding: 5px;
  /* text-align: left; */

  height: 30px;
  width: 300px;
 }
  