
.overlay{
	position:relative;
}
/* Bread Crumbs */
.breadcrumbs {
	background-image: url('../assets/StockImages/bread-bg.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	padding: 120px 0px;
}

.breadcrumbs h2{
	color: #fff;
	text-transform:capitalize;
	font-size: 38px;
	font-weight: 700;
	margin: 0;
	padding: 0;
    opacity: 1;
}
