.professional-verification-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;

  padding: 30px;
  margin: 20px;

  /* position: absolute; */
}

.professional{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.hpId-field{
  padding: 10px;
  margin: 5px;

}

.hpId-field input{
  font-size: 22px;
  padding: 10px;
}

.verify-button{
  margin: 5px;
}

.verify-button button:hover{
  background: #2C2D3F;
    transition: all 0.3s;
}
