.professional-verification-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;

  padding: 30px;
  margin: 20px;

  /* position: absolute; */
}

.professional{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.hpId-field{
  padding: 10px;
  margin: 5px;

}

.hpId-field input{
  font-size: 22px;
  padding: 10px;
}

.verify-button{
  margin: 15px;
  padding: 20px;
}

.verify-button button{
  background-color: white;
  color: #1A76D1;
  border: 1px solid #1A76D1;
  border-radius: 2rem;
  min-width: 150px;
  height: 50px;

  font-size: 22px;
}

.verify-button button:hover{
  background: #2C2D3F;
    transition: all 0.3s;
}
