.admin-dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
}

.button-container {
  margin: 15px;
  padding: 10px;
  /* width: 200vh; */

  height: 350px;
  width: 300px;

  display: flex;
  flex-direction: column;

  border: 1px solid rgb(225, 222, 222);
  border-radius: 8px;
  box-shadow: 10px 5px 5px rgb(216, 216, 216);

  color: #1A76D1;
  font-size: 28px;

  justify-content: space-between;
}

.button-container h2{
  padding: 10px;
}

.dash-icon{
  font-size: 70px;
  color: #1A76D1;
}

.buttons {
  padding: 3px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  background-color:#1A76D1;
  color: white;
  cursor: pointer;
  font-size: 22px;
}

.btn{
  color: white;
  cursor:pointer;
    position:relative;
    padding:10px 20px;
    background:#1A76D1;
    font-size:22px;
    /* border-top-right-radius:10px;
    border-bottom-left-radius:10px; */
    
  }

  .btn:hover{
    color: white;
      background-color: #2C2D3F;
      transition: all 0.4s ease;
      
  }
