.doctordetails-container{
    margin: 15px;
    padding: 20px;
    position: relative;
}

.doctor-details{
    padding: 5px;
}

.doctor-name{
    padding: 10px;
    margin: 10px;
}

.doctor-name h2{
    color: #1A76D1;
    font-weight: 800;
}

.doctor-info{
    padding: 0 10px;
    margin: 15px;
    font-size: 20px;
}

.doctor-name h3{
    padding: 10px;
    margin: 5px;

    font-weight: bold;

    color: #5197dd;
}

.buttons{
    padding: 10px;
    margin: 20px;

    padding-bottom: 20px;
}

.buttons button{
    font-size: 20px;
    min-width: 150px;
    height: 50px;
}

.delete{
    color: red;
    background-color: white;
    border: 1px solid red;
}

.buttons button:hover{
    color: red;
    background-color: rgb(248, 214, 214);
    border: 1px solid red;
}