.slider .single-slider {
	height: 600px;
	background-size: cover;
	background-position: center;
	background-repeat:no-repeat;
}
.slider .single-slider .text{
	margin-top:120px;
}
.slider.index2 .single-slider .text{
	margin-top:150px;
}
.slider .single-slider h1 {
	color: #2C2D3F;
	font-size: 38px;
	font-weight: 700;
	margin: 0;
	padding: 0;
	line-height: 42px;
}
.slider .single-slider h1 span{
	color:#1a76d1;
}
.slider .single-slider p {
	color: #2C2D3F;
	margin-top: 27px;
	font-weight: 400;
}
.slider .single-slider .button{
	margin-top:30px;
}
.slider .single-slider .btn{
	color:#fff;
	background:#1a76d1;
	font-weight:500;
	display:inline-block;
	margin:0;
	margin-right:10px;
}
.slider .single-slider .btn:last-child{
	margin:0;
}
.slider .single-slider .btn.primary{
	background:#2C2D3F;
	color:#fff;
}
.slider .single-slider .btn.primary:before{
	background:#1A76D1;
}
.slider .owl-carousel .owl-nav {
	margin: 0;
    position: absolute;
    top: 50%;
    width: 100%;
	margin-top:-25px;
}
.slider .owl-carousel .owl-nav div {
	height: 50px;
	width: 50px;
	line-height: 50px;
	text-align: center;
	background: #1A76D1;
	color: #fff;
	font-size: 26px;
	position: absolute;
	margin: 0;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	padding: 0;
	border-radius: 50%;
}
.slider .owl-carousel .owl-nav div:hover{
	background:#2C2D3F;
	color:#fff;
}
.slider .owl-carousel .owl-controls .owl-nav .owl-prev{
	left:20px;
}
.slider .owl-carousel .owl-controls .owl-nav .owl-next{
	right:20px;
}

/* Slider Animation */
.owl-item.active .single-slider h1{
    animation: fadeInUp 1s both 0.6s;
}
.owl-item.active .single-slider p{
    animation: fadeInUp 1s both 1s;
}
.owl-item.active .single-slider .button{
    animation: fadeInDown 1s both 1.5s;
}


.slider .single-slider .text{
	margin-top:120px;
}
.slider.index2 .single-slider .text{
	margin-top:150px;
}



/*=============================
	Start Feautes CSS
===============================*/
.Feautes {
  padding-top: 0;
  position: relative;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh;
  width: 100%; /* Ensure the container spans the entire width */
  max-width: 1200px;
}



.Feautes.index2{
	padding-top:100px;
}
.Feautes.testimonial-page{
	padding-top:100px;
}
.Feautes .single-features{
	text-align:center;
	position:relative;
	padding:10px 20px;
}
.Feautes .single-features::before {
	position: absolute;
	content: "";
	right: -72px;
	top: 60px;
	width: 118px;
	border-bottom: 3px dotted #1a76d1;
}
.Feautes .single-features.last::before{
	display:none;
}
.Feautes .single-features .signle-icon{
	position:relative;
}
.Feautes .single-features .signle-icon i{
	font-size:50px;
	color:#1a76d1;
	position:absolute;
	left:50%;
	margin-left:-50px;
	top:0;
	height:100px;
	width:100px;
	line-height:100px;
	text-align:center;
	border:1px solid #dddddd;
	border-radius:100%;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
}
.Feautes .single-features:hover .signle-icon i{
	background:#1A76D1;
	color:#fff;
	border-color:transparent;
}
.Feautes .single-features h3{
	padding-top: 128px;
	color:#2C2D3F;
	font-weight:600;
	font-size:21px;
}
.Feautes .single-features p {
	margin-top: 20px;
}
/*=============================
	End Feautes CSS
===============================*/

.icofont-ambulance-cross:before {
  content: "\e801"; /* Unicode character for the icon */
}

.icofont-medical-sign-alt:before {
  content: "\e843"; /* Unicode character for the medical sign alternative icon */
}

.icofont-stethoscope:before {
  content: "\e844"; /* Unicode character for the stethoscope icon */
}
