/* login-as.css */

.login-as{
  position: relative;
}

.heading{
 
  padding: 20px 10px;
  margin: 10px;
}

.heading h2{
  font-size: 42px;

  padding: 20px 0;
}

.login-card {
  height: 256px;
  position: relative;
  width: 200px;

  padding: 15px;
  margin: 15px;

  display: flex;
  flex-direction: column;
}


.login-card .placeholder {
  
  color: #2c3239;
  background-color: transparent;
  font-family: "Inter-Regular", Helvetica;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 31px;
  position: absolute;
  text-align: center;
  top: 212px;
  width: 200px;
  padding-top: 5px;
}



.persona-buttons {
  /* Style the button group */
  display: flex;
  /* Or use grid if preferred */
  justify-content: space-around;
  /* Or other alignment */
}

.persona-button {
  /* Style individual buttons */
  padding: 1rem 2rem;
  margin: 0.5rem;
  border: none;
  border-radius: 5px;
  /* ... other styles */
}


  .login-container {

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 30px 20px;
    margin: 10px 10px;

    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
  }
  


.section{
  display: flex;
  justify-content: center;
}

.user-login-icon{
  
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 110px;

  padding-left: 10px;
  margin-left: 10px;

  color: #558abe;
}

.user-login-icon:hover{

  color: #8eaece;
}