.registration-form-container{
  padding: 8px 15px;
  margin: 5px10px;
}

form{
  padding: 5px 30px;
  margin: 5px;

}

.registrationHeading{

  width: 100vw;
  margin-top: 5vh;
  margin-bottom: -4vh;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .registrationHeading span{
          font-size: 1.5rem;
      
      }

.formContainer{
  padding: 5px;
}
  
  .formContainer label {
      display: block;
      text-align: left;
      /* margin-bottom: 5px; */
      /* font-size: 0.8rem; */
      color: #5A607F;
    }
  
  
    .formContainer input[type="name"],
    .formContainer input[type="text"],
    .formContainer input[type="email"],
    .formContainer input[type="tel"],
    .formContainer input[type="number"]
     {
      width: 98%;
      padding-top: 8px;
      padding-bottom: 8px;
      border: 1px solid #ccc;
      border-radius: 3px;
      margin-bottom: 15px;
      outline: none;
    }  
  
    .formContainer input[type="radio"] {
  
    }
  
  .directionContainer{
      display: flex;
      justify-content: space-evenly;
      align-items: flex-start;
      margin-top: 10vh;

      font-size: 16px;
  }
  
  .inputLeft{
  width: 30%;
  padding: 15px 10px;
  /* height: 50vh; */
  /* background-color: rgb(43, 88, 88); */
  
  }
  
  
  .inputRight{
  width: 35%;
  padding: 0 10px;
  /* height: 50vh; */
  /* background-color: blueviolet; */
  }
  
  .agebox,.bloodgroup {
      display: flex;
      flex-direction: column;
      align-items: start;
      padding-left: 5px;
      /* background-color: aqua; */
  }
  .inputRight input[type="tel"],
  .bloodgroup input[type="text"]{
      width: 30%;
      padding-top: 9px;
      padding-bottom: 9px;
      border: 1px solid #ccc;
      border-radius: 3px;
      margin-bottom: 20px;
      outline: none;
      
  }
  
  
  .inputRight input[type="tel"] {
      width: 98%;
  }
  
  
  .makeInline label {
      display: inline;
      color: #5A607F;
    }
  
    .makeInlinetext{
      text-align: left;
      margin-left: 13px;
    }
  
    /* .formContainer button {
      text-decoration: none;
      font-size: 0.8rem;
      display: block;
      margin-top: 10px;
      color: #001b79;
    } */
  
    .inputLeft button,
    .inputRight button{
      background-color: #001b79;
    display: block;
    width: auto; /* Adjust the width as needed */
    color: #fff;
    padding: 8px 15px; /* Adjust padding to make it smaller */
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.9rem; /* Adjust font size */
    position: absolute; /* Add this line */

    }
    
  
    .SubmitButton{
      display: flex;
      justify-content: center;
      margin: 10px 0;
      padding: 10px;
      position: relative;
      font-size: 18px;
    }


    .SubmitButton button{
      background-color: #001b79;
    display: block;
    width: 10%; /* Make the width 100% to elongate the button */
    color: #fff;
    padding: 8px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    }

    .SubmitButton button:hover{
      background: #2C2D3F;
      transition: all 0.3s;
    }
  
    .makerow {
      display: flex;

    }

    .SubmitButton button:disabled {
      background-color: white;
      color: #1A76D1;
      border: 1px solid #1A76D1;
      border-radius: 2rem;
    }

  
  label{
    color: black;
    padding: 5px;
  }

  input{
    padding: 5px;
  }

  .makerow{
    padding-bottom: 10px;
    /* padding-left: 3px; */
    /* margin-bottom: 10px; */
    
    display: flex;
    align-items: center;

    gap: 50px;
  }

  .makeInline{
    padding: 5px;
  }

  .makeInlinetext{
    padding: 5px;
    margin-bottom: 8px;
  }

  .gender-label{
    padding: 5px;
    margin-right: 5px;
    font-size: 16px;
  }

  .send-mail-button button{
    color: white;
    background-color: #1A76D1;
    margin-left: 5px;
  }

  .send-mail-button button:hover{
    background: #2C2D3F;
    transition: all 0.2s;
  }
