.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form-box {
    display: flex;
    background-color: #fff;
    /* padding: 20px; */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form-container {
    margin: 15px;
    padding: 20px;
  }
  
  .welcome {
    padding: 20px;
    background-color: #64a6eb;
    width: 350px;
   
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    color: #fff;
  
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .welcome h2{
    padding: 10px;
  }

  .welcome h2:hover{
    color: #05274b;
  }
  
  .welcome p{
    margin: 5px;
    padding: 10px;

    text-align: center;

    font-size: 16px;
  }

  .welcome p:hover{
    color: #05274b;
  }
  
  .form-group {
    display: flex;
    position: relative;
  }
  
  .sign-in-form {
    min-width: 350px;
    min-height: 350px;
    margin: auto;
  }
  
  h2 {
    font-size: 32px;
    text-align: center;
    margin: 10px;
  }
  
  .sign-in-form input,
  .sign-in-form button {
    position: relative;
    width: 100%;
    height: 45px;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .sign-in-form button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
  }
  
  .sign-in-form button:hover {
    background-color: #0469d6;
  }
  
  .forgot-password-link{
    text-decoration: none;
  }

  .create-account-link{
    text-decoration: none;
  }
  