.rad-verification-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.upid-field{
  padding: 10px;
  margin: 5px;

}

.upid-field input{
  font-size: 22px;
  padding: 10px;
}

.verify-button{
  margin: 5px;
}
