.rads-list {
  width: 100%;
  margin: 20px 20px;
}

.search-back{
  padding: 10px;

  width:95vw;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-field{
  height: 50px;
  width: 500px;

}

.search-field input{
  border-radius: 15;
  height: 40px;
}

.search-back button {
  
  cursor: pointer;
  width: 80px;

  background-color: #001B79;

  /* height: 50px;
  width: 50px; */

  padding: 8px;
}

.search-icon {
  font-size: 2rem;
}

.table-container{
  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 95%;
  overflow-x: auto; 

  position: relative;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.rads-list th,
.rads-list td {
  padding: 10px;
  border: 1px solid #ebe9e9;
  text-align: left;
}

.rads-list input[type="text"] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin: 5px 0;
}

.view-link{
  text-decoration: none;
  color: black;
}

.pagination {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px; 
}