.rad-recommend{
    margin: 10px auto 0; 
    color: #09254b;
    width: 80%;
    margin-bottom: 20px;
    margin-top: 20px;
    
}



.report {
    height: 100px; /* Adjust the height of the input field */
    font-size: 14px;
    width: 81%; /* Adjust the font size of the input field */
}

.submit-button-container{
    margin-bottom: 40px;
}