.rad-recommend{
    margin: 10px auto 0; 
    color: #09254b;
    width: 80%;
    margin-bottom: 20px;
    margin-top: 20px;
    
}


.report-container {
    width: 100%;
  }
  
  .report {
    width: 100%;
    min-height: 50px; /* Set a minimum height */
    resize: none; /* Prevent resizing */
    overflow-y: auto; /* Add vertical scrollbar if needed */
  }
  

.report {
    height: 100px; /* Adjust the height of the input field */
    font-size: 14px;
    width: 81%; /* Adjust the font size of the input field */
}

.submit-button-container{
    margin-bottom: 40px;
}

.add-button-container{
    margin-bottom: 40px;
    display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  
  /* background-color: aqua; */
}

.add-button-container select {
    margin-left: 7px;
    margin-top: 18px;
     /* Adjust as needed */
     height: 35px;
  }

  .add-button-container add-lab{
    vertical-align: middle;
    
}

.popup-background {
    position: relative;
    z-index: -1; /* Moves the background content behind other elements */
  }

.chatting h2{
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    color: #0b438b;
    background-color: white;
}


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal-content {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}

.modal-header {
    display: flex;
    justify-content: flex-end;
}

.close-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
}

.modal-body {
    margin-top: 10px;
}

.modal-header h2{
    font: bold;
    color: #0b438b;
}

