.custom-button {
  background-color: #1A76D1;
  color: white;
  border: 1px solid #1A76D1;
  border-radius: 2rem;
  min-width: 220px;

  padding: 10px;
  font-size: 18px;
  }
  
  .custom-button:hover {
    background-color: #021b36;
  }
  
  .custom-button:focus {
    outline: none;
  }
  
  /* Align button at the center */
  .custom-button-container {
    display: flex;
    justify-content: center;
  }
  