.mri-info-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 20px auto 0; 
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.doctor-name {
    font-weight: bold;
}

.specialization{
    font-style: italic;
    font-weight: bold;
    color: #0b438b;
}

.prescription {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.prescription p {
    margin-bottom: 0.5rem;
}
