.messaging-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .messaging-container h2 {
    text-align: center;
    
    font-weight: bold;
    color: #0b438b;
  }
  
  .message-input-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .message-input-form input,
  .message-input-form select {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .message-input-form button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .message {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  
  .message strong {
    font-weight: bold;
  }
  
  .message-input-form textarea {
    width: 100%;
    height: 300px; /* Adjust the height as needed */
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
  }

  .message-text {
    /* height: 100px; /* Adjust the height of the input field */
    /* font-size: 14px;
    width: 100%; */ 

    width: 100%;
    height: 300px; /* Adjust the height as needed */
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
  }